<ion-content style="max-height: 93%" [fullscreen]="true">
  <ion-card>
    <ion-card-header>
<!--      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>-->
      <ion-card-title>Última Medição</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-align-items-center">
          <round-progress class="grafico" [semicircle]="true"
                          [current]="current" [color]="color"
                          [radius]="60" [stroke]="10" [max]="max">
          </round-progress>
            <h1 style="margin-top: -30%; text-align: center"><b>{{current}} Mg/L</b></h1>
            <br><br><br>
            <span class="ion-float-left">MIN</span>
            <span class="ion-float-right">MAX</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Ultimas medições</ion-card-subtitle>
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-align-items-center">
          <ion-button color="primary">Dia</ion-button>
        </ion-col>
        <ion-col class="ion-align-items-center">
          <ion-button color="primary">7 Dias</ion-button>
        </ion-col>
        <ion-col class="ion-align-items-center">
        <ion-button color="primary">Mês</ion-button>
      </ion-col>
        <ion-col class="ion-align-items-center">
          <ion-button color="primary">Ano</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>


  <ion-card>
    <ion-list>
      <ion-item *ngFor="let medicao of medicoes">
        <ion-avatar style="background-color: #2dd36f" slot="start" *ngIf="medicao.ValorMedicao <= 126">
          <img src="./assets/icon/feliz.png">
        </ion-avatar>
        <ion-avatar style="background-color:orange" slot="start" *ngIf="medicao.ValorMedicao >= 127">
          <img src="./assets/icon/cetico.png">
        </ion-avatar>
        <ion-label>
          <ion-label  class="labelValor">{{medicao.ValorMedicao}} Mg/L</ion-label>
          <ion-label class="labelData" >{{medicao.Data | date : "dd.MMMM.y"}}</ion-label>
          <!-- <h4 >{{medicao.Data | date : "hh:mm:ss"}}</h4>-->
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>


  <!--<app-explore-container name="Tab 1 page"></app-explore-container>-->
</ion-content>


