<ion-header>
  <ion-toolbar>
    <ion-title>Bem Vindo !</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides>

    <ion-slide>
      <div class="slide">
        <h2>Bem-Vindo ao Glucosoft!</h2>
        <p>Por favor preencha a sua ficha com todos os seus dados pessoais para uma melhor experiência</p>
        <ion-item>
          <ion-label position="floating">Nome Completo</ion-label>
          <ion-input type="text" [(ngModel)]="nome"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Idade</ion-label>
          <ion-input type="tel" pattern="[0-9]*" [(ngModel)]="idade"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Gênero</ion-label>
          <ion-select [(ngModel)]="genero" placeholder="Selecionar Gênero...">
            <ion-select-option value="f">Feminino</ion-select-option>
            <ion-select-option value="m">Masculino</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Peso </ion-label>
          <ion-input type="tel" pattern="[0-9]*"  [(ngModel)]="peso"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Altura</ion-label>
          <ion-input  type="tel" pattern="[0-9]*" [(ngModel)]="altura"></ion-input>
        </ion-item>

      </div>
    </ion-slide>


    <ion-slide>
      <div class="slide">
      <ion-item>
        <ion-label position="floating">Tipo de Diabates</ion-label>
        <ion-select [(ngModel)]="tipo_diabetes" placeholder="Selecionar Tipo de Diabetes...">
          <ion-select-option value="1">Tipo I</ion-select-option>
          <ion-select-option value="2">Tipo II</ion-select-option>
          <ion-select-option value="3">Tipo III</ion-select-option>
        </ion-select>
      </ion-item>
        <ion-item>
          <ion-label position="floating">Hidratos de Carbono por Unidade de Insulina </ion-label>
          <ion-input type="tel" pattern="[0-9]*"  [(ngModel)]="IC"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Indice de Sensibilidade à Insulina </ion-label>
          <ion-input type="tel" pattern="[0-9]*"  [(ngModel)]="ISF"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Objectivo</ion-label>
          <ion-input type="tel" pattern="[0-9]*"  [(ngModel)]="Target"></ion-input>
        </ion-item>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="/assets/wizard/image0.png"/>
      <h2>O que é a Glucosoft?</h2>
      <p><b>Glucosoft</b> é uma aplicação que o vai ajudar no seu dia a dia a controlar a diabtes com recurso a grafícos intuitivos e tabelas de registos.</p>
    </ion-slide>

    <ion-slide>
      <img src="/assets/wizard/calcInsulina.png"/>
      <h2>Calculadora de Insulina</h2>
      <p>Com a <b>Calculadora de Insulina</b> poderá em qualquer altura do dia saber exatamente a dose que terá de administrar.</p>
    </ion-slide>
    <ion-slide>
      <img src="/assets/wizard/Noti.png"/>
      <h2> Consulte as suas Notificações </h2>
      <p><b>Com esta</b> aplicação vai poder agendar notificações, para nunca de esquecer de medir o nivel de glicose no sangue , como tambem para se lembrar de administrar a insulina </p>
    </ion-slide>
    <ion-slide>
      <img src="https://ionicframework.com/docs/demos/api/slides/slide-4.png"/>
      <h2>Terminar Configuração?</h2>
      <ion-button (click)="FinishWizard()" fill="clear">Terminar <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>
