<ion-tabs>

  <ion-fab  vertical="bottom" horizontal="center" translucent="true">
    <ion-fab-button  (click)="goToPictures()">
      <ion-icon  name="water"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-tab-bar slot="bottom" class="ion-no-border">

    <ion-tab-button tab="homepage">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab1" class="comments">
      <ion-icon name="calculator"></ion-icon>
      <ion-badge *ngIf="new_message">{{new_message}}</ion-badge>
    </ion-tab-button>

    <svg height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg"><path d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z" fill="red" fill-rule="evenodd"></path></svg>

    <ion-tab-button tab="tab2" class="notifs">
      <ion-icon name="notifications"></ion-icon>
      <ion-badge *ngIf="new_activities">{{new_activities}}</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

