<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Calculadora</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- List of Text Items -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Calcule a sua dose de insolina</ion-card-subtitle>
      <ion-card-title>Calculo de insulina</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="CalculaForm" (ngSubmit)="CalculaInsulina()">
      <ion-item>
        <ion-label position="floating">Valor da ultima medição se açucar no sange</ion-label>
        <ion-input type="number" clearInput formControlName="Glucose"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Carbo Hidratos</ion-label>
        <ion-input type="number" clearInput formControlName="Carbohydrates"></ion-input>
      </ion-item>

        <ion-button style="width:100%;margin-top: 30px" type="submit" shape="round">Calcular</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="calculator-outline"></ion-icon>
      <ion-label> Resultado</ion-label>
    </ion-item>

    <ion-card-content>
      <ion-label  position="floating"> {{TotalA}} mg/l</ion-label>
    </ion-card-content>
  </ion-card>

  <!--<app-explore-container name="Tab 1 page"></app-explore-container>-->
</ion-content>
