<ion-header class="ion-no-border">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding ion-text-center">
    <ion-avatar class="avatar-lg">
      <img src="https://www.kindpng.com/picc/m/78-786207_user-avatar-png-user-avatar-icon-png-transparent.png" alt="">
    </ion-avatar>
    <h3><strong>{{ nome }}</strong></h3>
  </div>

  <ion-list>
<!--    <ion-item detail>
      <ion-icon name="checkmark-done-circle" color="success" slot="start"></ion-icon>
      <ion-label>
        Active Status
      </ion-label>
      <ion-note slot="end">On</ion-note>
    </ion-item>
    <ion-item detail>
      <ion-icon name="chatbubble-ellipses" color="primary" slot="start"></ion-icon>
      <ion-label>
        Message requests
      </ion-label>
    </ion-item>
    <ion-item detail lines="none">
      <ion-icon name="call" color="primary" slot="start"></ion-icon>
      <ion-label>
        Mobile number
      </ion-label>
    </ion-item>-->

    <ion-list-header class="list-header-custom">
      Informações Pessoais
    </ion-list-header>
    <ion-item>
      <ion-icon name="walk-outline" color="tertiary" slot="start"></ion-icon>
      <ion-label>
        Idade
      </ion-label>
      <ion-note slot="end">{{ idade }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name="transgender-outline" color="tertiary" slot="start"></ion-icon>
      <ion-label>
        Gênero
      </ion-label>
      <ion-note slot="end">{{ genero }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name="accessibility-outline" color="tertiary" slot="start"></ion-icon>
      <ion-label>
        Peso
      </ion-label>
      <ion-note slot="end">{{ peso }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name="body-outline" color="tertiary" slot="start"></ion-icon>
      <ion-label>
        Altura
      </ion-label>
      <ion-note slot="end">{{ altura }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name="water-outline" color="tertiary" slot="start"></ion-icon>
      <ion-label>
        Tipo de Diabetes
      </ion-label>
      <ion-note slot="end">{{ tipoDiabetes }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name="pizza-outline" color="tertiary" slot="start"></ion-icon>
      <ion-label>
        IMC
      </ion-label>
      <ion-note slot="end">{{ imc }}</ion-note>
    </ion-item>
      <ion-item>
          <ion-icon name="fast-food-outline" color="tertiary" slot="start"></ion-icon>
          <ion-label>
              I:C
          </ion-label>
          <ion-note slot="end">{{ IC }}</ion-note>
      </ion-item>
      <ion-item>
          <ion-icon name="speedometer-outline" color="tertiary" slot="start"></ion-icon>
          <ion-label>
              ISF
          </ion-label>
          <ion-note slot="end">{{ ISF }}</ion-note>
      </ion-item>
      <ion-item>
          <ion-icon name="calculator-outline" color="tertiary" slot="start"></ion-icon>
          <ion-label>
             Objectivo de insulina
          </ion-label>
          <ion-note slot="end">{{ Target }}</ion-note>
      </ion-item>


    <ion-list-header></ion-list-header>

    <ion-list-header></ion-list-header>
  </ion-list>
</ion-content>
