<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Inserir Medição</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <form [formGroup]="MedicoesFrom" (ngSubmit)="InsereRegisto()">
    <ion-item>
      <ion-label position="floating">Açucar no Sangue (mmol/L)</ion-label>
      <ion-input formControlName="Glucose" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Altura da medição</ion-label>
      <ion-select formControlName="Moment">
        <ion-select-option value="Antes do Pequeno Almoço">Antes do Pequeno Almoço</ion-select-option>
        <ion-select-option value="Depois do Pequeno Almoço">Depois do Pequeno Almoço</ion-select-option>
        <ion-select-option value="Antes do Almoço">Antes do Almoço</ion-select-option>
        <ion-select-option value="Depois do Almoço">Depois do Almoço</ion-select-option>
        <ion-select-option value="Antes do Jantar">Antes do Jantar</ion-select-option>
        <ion-select-option value="Depois do Jantar">Depois do Jantar</ion-select-option>
        <ion-select-option value="Antes de Dormir">Antes de Dormir</ion-select-option>
        <ion-select-option value="Ao acordar">Ao acordar</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item >
      <ion-label position="floating">Data da Medição</ion-label>
      <ion-datetime formControlName="DateAdd" displayFormat="DD/MM/YYYY HH:mm:ss" display-timezone="utc" placeholder="Selecionar Data..."></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Calorias gastas</ion-label>
      <ion-input type="number" formControlName="Kcal"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Notas</ion-label>
      <ion-textarea type="text" formControlName="Notes"></ion-textarea>
    </ion-item>


    <ion-button style="width:100%" type="submit" shape="round">Registar Medição</ion-button>


  </form>
</ion-content>
