<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Nova Notificação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Escreva o conteodo da sua </ion-card-subtitle>
    <ion-card-title>Notificação</ion-card-title>
  </ion-card-header>
  <form [formGroup]="NotificaoForm" (ngSubmit)="addNotificacao()">
    <ion-item>
      <ion-label position="floating">Titulo da noficação</ion-label>
      <ion-input formControlName="TituloNoti" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Texto da notificação</ion-label>
      <ion-input formControlName="TextoNofi" type="text"></ion-input>
    </ion-item>
    <ion-item >
      <ion-label position="floating">Data da Medição</ion-label>
      <ion-datetime formControlName="DateAdd" displayFormat="DD/MM/YYYY HH:mm:ss" display-timezone="utc" placeholder="Selecionar Data..."></ion-datetime>
    </ion-item>
    <ion-button [disabled]="!NotificaoForm.valid" style=" display: flex;
  align-items: center;width:80%;margin:30px" type="submit" shape="round">Guardar</ion-button>
 </form>
</ion-card>
</ion-content>
